html {
	/*font-family: sans-serif;
	color: #fff;
	background-color: #10171e;*/
	margin: 10px;
}
body {
	/*color: #fff;
	background-color: #10171e;*/
}

.bold {
	font-weight: bold;
}
.uppercase {
	text-transform: uppercase;
}

a {
	/*color: #fff;
	text-decoration: none;*/
	font-style: italic;
	font-size: 13pt;
}
a:hover, a:active {
	/*color: #1DA1F2;*/
	text-decoration: underline;
}