<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet" type="text/css">
	
	<title>Senha Individual</title>
</head>
<body>
	<div class="bold">SENHA INDIVIDUAL</div><br>
	
	<div class="bold">MENU:</div>
	<ul>
		<li><a href="evento/" title="Lista os eventos cadastrados e cadastra novos">Cadastro de Eventos</a></li>
		<li><a href="senha/" title="Cadastra uma nova senha de um evento">Cadastro de Senhas</a></li>
		<li><a href="local/" title="Lista os locais cadastrados e cadastra novos">Cadastro de Local de Eventos</a></li>
		<li><a href="senha/validar" title="Valida uma senha verificando se ela está ou não cadastrada em um evento">Validar Senha</a></li>
	</ul>
</body>
</html>
