<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Senha Individual</title>
	<link href="css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="bold">SENHA INDIVIDUAL</div><br>

	<div class="bold">MENU:</div>
	<ul>
		<li><a href="cadastrar/evento" title="Cadastra um novo evento">Cadastrar Evento</a></li>
		<li><a href="cadastrar/senha" title="Cadastra uma nova senha de um evento">Cadastrar Senha</a></li>
		<li><a href="excluir/evento" title="Exclui/cancela um evento">Excluir Evento</a></li>
		<li><a href="excluir/senha" title="Exclui uma senha de um evento">Excluir Senha</a></li>
		<li><a href="validarsenha" title="Valida uma senha verificando se ela está ou não cadastrada em um evento">Validar Senha</a></li>
	</ul>
</body>
</html>