<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title th:text="${nomePagina}"></title>
	<link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="bold uppercase" th:text="${nomePagina}"></div>
	<form th:object="${local}" method="post">
		<table>
			<tbody>
				<tr th:if="${mostrarCodigo}">
					<td><input type="hidden" th:field="*{codigo}" size="30" required></td>
				</tr>
				<tr>
					<td>Nome: </td>
					<td><input type="text" th:field="*{nome}" size="30" placeholder="Ex: Clube dos Ferroviários" required></td>
				</tr>
				<tr>
					<td>Endereço: </td>
					<td><input type="text" th:field="*{endereco}" size="30" placeholder="Ex: Centro, Jaboatão dos Guararapes" required></td>
				</tr>
				<tr>
					<td>Link (google.com.br/maps/): </td>
					<td><input type="text" th:field="*{linkGoogleMaps}" placeholder="Ex: place/Dos+Ferroviarios/@-8.112..." size="30" required></td>
				</tr>
				<tr>
					<td>Capacidade: </td>
					<td><input type="number" th:field="*{capacidade}" style="width: 239px;" placeholder="Ex: 125" required></td>
				</tr>
				<tr>
					<td>Está aberto?</td>
					<td>
						<input type="radio" th:field="*{estaAberto}" value="true"> <label for="estaAberto1" checked="checked">Sim</label>
						<span style="margin-right: 30px"></span>
						<input type="radio" th:field="*{estaAberto}" value="false"> <label for="estaAberto2">Não</label>
					</td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" th:value="${valueSubmit}"></td>
				</tr>
			</tbody>
		</table>
	</form>
	<br><br>
	<a href="/local/">← Voltar</a>
</body>
</html>
